<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>Lumen</string>
	<key>CFBundleExecutable</key>
	<string>LumenPrefs</string>
	<key>CFBundleIdentifier</key>
	<string>com.zlhkf.lumen.preferences</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lumen</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.46</string>
	<key>CFBundleVersion</key>
	<string>171</string>
	<key>NSPrincipalClass</key>
	<string>LMNRootListController</string>
</dict>
</plist>
